<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Touch Pay</title>
</head>

<body>
    <div class="wrap">
        <div class="header"></div>
        <div class="container">
            <div class="content">
                <form action="login-check" method="post">
                    <div class="block">
                        <div class="login-header">
                            <div class="primary-title">로그인</div>
                        </div>
                        <div class="login-contontainer">
                            <div class="wrapInput">
                                <input type="text" name="uid" placeholder="ID">
                                <input type="text" name="upw" placeholder="PW">
                            </div>
                        </div>
                        <div class="login-footer center">
                            <div class="btnWrap center">
                                <input type="submit" id="submit" value="접속">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>

</html>